In [7]:
from Preprocessing.preprocessing import CleaningData
%load_ext autoreload
%autoreload 2

In [12]:
dit = CleaningData()

In [13]:
dit.raw_data

                   Datum-tijd Opzetstuk Noord (°) Opzetstuk Zuid (°)
0        2020-05-31T22:00:00Z                90,6               88,6
1        2020-05-31T22:00:02Z                90,6               88,6
2        2020-05-31T22:00:03Z                90,6               88,6
3        2020-05-31T22:00:04Z                90,6               88,6
4        2020-05-31T22:00:06Z                90,6               88,6
...                       ...                 ...                ...
1908490  2020-06-30T21:59:54Z                90,7               97,3
1908491  2020-06-30T21:59:55Z                90,7               97,3
1908492  2020-06-30T21:59:57Z                90,7               97,3
1908493  2020-06-30T21:59:58Z                90,7               97,3
1908494  2020-06-30T21:59:59Z                90,7               97,3

[1908495 rows x 3 columns]