In [20]:
from Preprocessing.preprocessing import CleaningData
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

[autoreload of Preprocessing.preprocessing failed: Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\extensions\autoreload.py", line 245, in check
    superreload(m, reload, self.old_objects)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\extensions\autoreload.py", line 434, in superreload
    module = reload(module)
  File "C:\ProgramData\Anaconda3\lib\imp.py", line 314, in reload
    return importlib.reload(module)
  File "C:\ProgramData\Anaconda3\lib\importlib\__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 630, in _exec
  File "<frozen importlib._bootstrap_external>", line 728, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "C:\Users\verho534\Documents\Kennisnetwerk DataScience Noord\BiobasedBrug\BiobasedBrug\Preprocessing\preprocessing.py", line 4, in <module>
    from ..config import *
ValueError: attempted relative import beyond top-level package
]

In [ ]:
dit = CleaningData()

In [17]:
data = dit.preprocessing_pipeline()

In [18]:
data

,Opzetstuk Noord (°),Opzetstuk Zuid (°),datetime,dag,tijd,open,diff
0,90.6,88.6,2020-05-31 22:00:00,31,22:00:00,0,NaN
25914,76.4,63.9,2020-06-01 07:46:20,1,07:46:20,1,1.0
26023,90.0,77.3,2020-06-01 07:48:47,1,07:48:47,0,-1.0
27194,70.9,61.1,2020-06-01 08:15:19,1,08:15:19,1,1.0
27324,86.6,69.5,2020-06-01 08:18:16,1,08:18:16,0,-1.0
...,...,...,...,...,...,...,...
1888534,83.2,67.4,2020-06-30 14:27:22,30,14:27:22,0,-1.0
1889273,71.4,69.1,2020-06-30 14:44:08,30,14:44:08,1,1.0
1889400,89.8,79.2,2020-06-30 14:46:59,30,14:46:59,0,-1.0
1891500,72.0,67.4,2020-06-30 15:34:45,30,15:34:45,1,1.0
1891758,80.5,64.3,2020-06-30 15:40:32,30,15:40:32,0,-1.0